<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>{{user.name}}</h1>
    {{user.pic}}
    <br>
    {{user.email}}
    <br>
    {{user.URL}}
    <br>
    <a href="/"><button>back</button></a>
  </body>
</html>
